* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: #052659;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  text-align: start;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.quiz-box h2 {
  margin-bottom: 10px;
  color: #111;
}

hr {
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 20px;
  color: #222;
}

.option-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.option {
  padding: 10px 15px;
  border: 1px solid #aaa;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.option:hover {
  background-color: rgb(221, 213, 232);
}

.correct {
  background-color: #b2f2bb !important;
  border-color: #2ecc71;
}

.incorrect {
  background-color: #ffc9c9 !important;
  border-color: #e74c3c;
}

#next-btn {
  display: flex;
  justify-self: center ;
  padding: 10px 30px;
  background-color: #052659;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#next-btn:hover {
  background-color: #021c3d;
}
